<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="5.0">

    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>com.library.AddBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/addBook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewBooks</servlet-name>
        <servlet-class>com.library.ViewBooksServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewBooks</servlet-name>
        <url-pattern>/viewBooks</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
