<div class="bg">

  <div class="card">

    <!-- LOGIN PAGE -->
    <div *ngIf="isLogin">

      <h2>Login</h2>

      <input type="email" placeholder="Email" [(ngModel)]="loginEmail">
      <input type="password" placeholder="Password" [(ngModel)]="loginPassword">

      <div class="captcha">
        <span>{{loginCaptcha}}</span>
        <button (click)="generateLoginCaptcha()">⟳</button>
      </div>

      <input type="text" placeholder="Enter Captcha" [(ngModel)]="loginUserCaptcha">

      <p class="error" *ngIf="error">{{error}}</p>
      <p class="success" *ngIf="success">{{success}}</p>

      <button class="btn" (click)="login()">Login</button>

      <p class="link">
        Don’t have an account?
        <a (click)="switchPage()">Register</a>
      </p>

    </div>

    <!-- REGISTER PAGE -->
    <div *ngIf="!isLogin">

      <h2>Create Account</h2>

      <input type="text" placeholder="Full Name" [(ngModel)]="name">
      <input type="email" placeholder="Email" [(ngModel)]="email">
      <input type="password" placeholder="Password" [(ngModel)]="password">

      <div class="captcha">
        <span>{{registerCaptcha}}</span>
        <button (click)="generateRegisterCaptcha()">⟳</button>
      </div>

      <input type="text" placeholder="Enter Captcha" [(ngModel)]="registerUserCaptcha">

      <p class="error" *ngIf="error">{{error}}</p>
      <p class="success" *ngIf="success">{{success}}</p>

      <button class="btn" (click)="register()">Register</button>

      <p class="link">
        Already have an account?
        <a (click)="switchPage()">Login</a>
      </p>

    </div>

  </div>

</div>